@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$yellow: #fbd837;
$accent: #1170b6;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $yellow;

@import "bulma/bulma.sass";

.banner-social-links,
.banner-centre-formation {
  background-color: #eff4fa;
  border-radius: 12px;
  .title {
    max-width: 1000px;
    margin: auto;
  }
}

.sidebar-item {
  background-color: #eff4fa;
  font-weight: bold;
  width: 100%;
  display: block;
  color: #363636;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 4px;
  border-radius: 3px;
}

.banner-employeur {
  border-radius: 12px;
  position: relative;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),
  url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  .title {
    max-width: 1000px;
    margin: auto;
  }
}

.banner-header-formations,
.banner-header {
  position: relative;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),
  url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  .title {
    max-width: 1000px;
    margin: auto;
  }
}

.banner-header-formations {
  background-position: top center;
}

.second-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  .navbar-end {
    align-items: center;
  }
  .button {
    margin-left: 3rem;
  }
  .navbar-item {
    margin-left: 1rem;
  }
}

.button.is-primary {
  color: #363636;
}

.has-text-accent {
  color: $accent!important;
}

.is-sticky {
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}